<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form method="GET" action="/">
        <label for="search">search</label>
        <input type="text" name="search" id="search">
        <button type="submit">submit</button>
    </form>
    <ul>
        <% usernames.forEach((username) => { %>
            <li><%= username %></li>
        <% }); %>
    </ul>
</body>
</html>