<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New</title>
  <link rel="stylesheet" href="/styles.css" >
</head>
<body>
  <a href="/">Go home</a>
  <a href="/messages">Go to message board</a>
  <form method="POST" action="/new" class="card">
    <div class="field">
      <label for="author">author:</label>
      <input name="author"/>
    </div>
    <div class="field">
      <label for="message">message:</label>
      <input name="message"/>
    </div>
    <input type="submit" />
  </form>
</body>
</html>