<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon List</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1> Pokemon List</h1>
    <%- include("links.ejs") %>
    <ul>
        <% pokemonList.forEach((pokemon) => { %>
            <li>
                <div class="card">
                    <p><%= pokemon.nickname %></p>
                    <a href="/pokemon/<%= pokemon.id %>"> Detail</a>
                    <form action="/pokemon/<%= pokemon.id %>" method="post">
                        <button type="submit"> Delete</button>
                    </form>
                </div>
            </li>
        <% }); %>
    </ul>
</body>
</html>