<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Detail</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Pokemon Detail</h1>
    <%- include("links.ejs") %>
    <div class="card">
        <div class="entry">
            <p>id:</p>
            <%= pokemon.id %>
        </div>
        <div class="entry">
            <p>species_id:</p>
            <%= pokemon.species_id %>
        </div>
        <div class="entry">
            <p>trainer_id:</p>
            <%= pokemon.trainer_id %>
        </div>
    </div>
</body>
</html>