<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Species List</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1> Species List</h1>
    <ul>
        <% speciesList.forEach((species) => { %>
            <li>
                <div class="card">
                    <div class="entry">
                        <p>species id: </p>
                        <p><%= species.species_id %></p>
                    </div>
                    <div class="entry">
                        <p>name: </p>
                        <p><%= species.species_name %></p>
                    </div>
                </div>
            </li>
        <% }); %>
    </ul>
</body>
</html>